#home,
#about,
#cv {
  display: none;
}
#home.active,
#about.active,
#cv.active {
  display: block;
}
#main-naviation li {
  cursor: pointer;
}
a {
  font-weight: bold;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
